@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.otp-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin-right: 0px;
}

.otp-container input {
  @apply !mr-3 border-black border-2 font-semibold text-lg rounded-[0.300rem];
}
